:root {
  --bg-color: rgb(30, 32, 46);
  --orbit-color: rgb(132, 153, 169);
  --uranus-color: rgb(88, 130, 165);
  --sun-color: #fff2aa;
  --white: rgb(223, 223, 223);
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  background-color: var(--bg-color);
  height: 100vh;
}


#chart {
  width: 50%;
  height: 300px;
}

.orbit {
  fill: none;
  stroke: var(--orbit-color);
  stroke-width: 2;
}

.sun {
  fill: var(--sun-color);
  stroke: var(--white);
  stroke-width: 2;
}

.uranus {
  fill: var(--uranus-color);
  stroke: var(--white);
  stroke-width: 2;
}